Check

In [525]:
import pandas as pd

df = pd.read_csv('base_main.csv')
print(f'Data has {df.shape[0]} rows , {df.shape[1]} columns.')
df.head()

Data has 11562 rows , 18 columns.

,author,author_type,url,location,deal_type,accommodation_type,floor,floors_count,rooms_count,total_meters,price_per_month,commissions,price,district,street,house_number,underground,residential_complex
0,Sminex,developer,https://www.cian.ru/sale/flat/306341785/,Москва,sale,flat,2,12,1,83.3,-1,0,172590000.0,Хамовники,Фрунзенская набережная,30,Фрунзенская,Клубный город-парк
1,White and Broughton,real_estate_agent,https://www.cian.ru/sale/flat/299890518/,Москва,sale,flat,9,40,1,41.5,-1,0,32000000.0,Хорошевский,Ленинградский проспект,37/4,ЦСКА,Прайм Парк
2,PROНЕДВИЖИМОСТЬ,real_estate_agent,https://www.cian.ru/sale/flat/308789447/,Москва,sale,flat,11,12,1,33.5,-1,0,8000000.0,Чертаново Южное,3-й Дорожный проезд,6К1,Улица Академика Янгеля,NaN
3,VESPER,developer,https://www.cian.ru/sale/flat/307211222/,Москва,sale,flat,8,9,1,57.6,-1,0,117936000.0,Тверской,1-я Тверская-Ямская,2,Маяковская,Vesper Tverskaya
4,White and Broughton,real_estate_agent,https://www.cian.ru/sale/flat/301550653/,Москва,sale,flat,13,41,1,41.5,-1,0,31000000.0,Хорошевский,Ленинградский проспект,37/6,Аэропорт,Прайм Парк

4istka

In [526]:
df.drop(['author_type', 'author', 'deal_type', 'accommodation_type', 'price_per_month', 'commissions'], axis=1,inplace=True)
print(f'Data has  {df.shape[1]} columns.')

Data has  12 columns.

In [527]:
new_order = [
      'location',
      'residential_complex', 
      'district', 
      'street', 
      'house_number',
      'rooms_count', 
      'total_meters', 
      'floor', 
      'floors_count', 
      'price',
      'underground',
      'url'
]


df = df[new_order]
df.head()

,location,residential_complex,district,street,house_number,rooms_count,total_meters,floor,floors_count,price,underground,url
0,Москва,Клубный город-парк,Хамовники,Фрунзенская набережная,30,1,83.3,2,12,172590000.0,Фрунзенская,https://www.cian.ru/sale/flat/306341785/
1,Москва,Прайм Парк,Хорошевский,Ленинградский проспект,37/4,1,41.5,9,40,32000000.0,ЦСКА,https://www.cian.ru/sale/flat/299890518/
2,Москва,NaN,Чертаново Южное,3-й Дорожный проезд,6К1,1,33.5,11,12,8000000.0,Улица Академика Янгеля,https://www.cian.ru/sale/flat/308789447/
3,Москва,Vesper Tverskaya,Тверской,1-я Тверская-Ямская,2,1,57.6,8,9,117936000.0,Маяковская,https://www.cian.ru/sale/flat/307211222/
4,Москва,Прайм Парк,Хорошевский,Ленинградский проспект,37/6,1,41.5,13,41,31000000.0,Аэропорт,https://www.cian.ru/sale/flat/301550653/

In [528]:
df.info()
print(f'\n\nData has {df.shape[0]} rows , {df.shape[1]} columns.')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11562 entries, 0 to 11561
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             11562 non-null  object
 1   residential_complex  7757 non-null   object
 2   district             5829 non-null   object
 3   street               9119 non-null   object
 4   house_number         10611 non-null  object
 5   rooms_count          11562 non-null  int64
 6   total_meters         11562 non-null  float64
 7   floor                11562 non-null  int64
 8   floors_count         11562 non-null  int64
 9   price                11477 non-null  float64
 10  underground          11303 non-null  object
 11  url                  11562 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.1+ MB


Data has 11562 rows , 12 columns.

location, residential_complex, district, street, underground

In [529]:
def replace_nan_on_pusto(df, columns):
      for column in columns:
            if column in df.columns:
                  df[column] = df[column].fillna('')
      
      return df

coloumns_to_modify = ['location', 'residential_complex', 'district', 'street', 'underground']
df = replace_nan_on_pusto(df, coloumns_to_modify)
df.head()

,location,residential_complex,district,street,house_number,rooms_count,total_meters,floor,floors_count,price,underground,url
0,Москва,Клубный город-парк,Хамовники,Фрунзенская набережная,30,1,83.3,2,12,172590000.0,Фрунзенская,https://www.cian.ru/sale/flat/306341785/
1,Москва,Прайм Парк,Хорошевский,Ленинградский проспект,37/4,1,41.5,9,40,32000000.0,ЦСКА,https://www.cian.ru/sale/flat/299890518/
2,Москва,,Чертаново Южное,3-й Дорожный проезд,6К1,1,33.5,11,12,8000000.0,Улица Академика Янгеля,https://www.cian.ru/sale/flat/308789447/
3,Москва,Vesper Tverskaya,Тверской,1-я Тверская-Ямская,2,1,57.6,8,9,117936000.0,Маяковская,https://www.cian.ru/sale/flat/307211222/
4,Москва,Прайм Парк,Хорошевский,Ленинградский проспект,37/6,1,41.5,13,41,31000000.0,Аэропорт,https://www.cian.ru/sale/flat/301550653/

house_number

In [530]:
def replace_nan_on_zero(value):
      if pd.isna(value):
            return 0
      return value

df['house_number'] = df['house_number'].apply(replace_nan_on_zero)
df = df[df['house_number'] != 0]
df['house_number']

0          30
1        37/4
2         6К1
3           2
4        37/6
         ...
11557       7
11558       6
11559      7а
11560       5
11561       6
Name: house_number, Length: 10611, dtype: object

price

In [531]:
df['price'] = df['price'].apply(replace_nan_on_zero)
df['price'] = df['price'].astype(int)

df = df[df['price'] != 0]
df['price']

0        172590000
1         32000000
2          8000000
3        117936000
4         31000000
           ...
11557      9980000
11558     10909366
11559      7999999
11560     21800000
11561     18000000
Name: price, Length: 10584, dtype: int64

check on

In [ ]:
# 1 комнатная квартира - от 10 до 50 кв. м
# 2 комнатная квартира - от 30 до 70 кв. м
# 3 комнатная квартира - от 50 до 90 кв. м
# 4 комнатная квартира - от 70 до 110 кв. м
# 5 комнатная квартира - более 120 кв. м

itog

In [532]:
df.info()
print(f'\n\nData has {df.shape[0]} rows , {df.shape[1]} columns.')

<class 'pandas.core.frame.DataFrame'>
Index: 10584 entries, 0 to 11561
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             10584 non-null  object
 1   residential_complex  10584 non-null  object
 2   district             10584 non-null  object
 3   street               10584 non-null  object
 4   house_number         10584 non-null  object
 5   rooms_count          10584 non-null  int64
 6   total_meters         10584 non-null  float64
 7   floor                10584 non-null  int64
 8   floors_count         10584 non-null  int64
 9   price                10584 non-null  int64
 10  underground          10584 non-null  object
 11  url                  10584 non-null  object
dtypes: float64(1), int64(4), object(7)
memory usage: 1.0+ MB


Data has 10584 rows , 12 columns.

** vyvod vsex kvar krome 1 (check)

In [533]:
def filter_rooms_count_not_equal_to_one(df):
    filtered_df = df[df['rooms_count'] != 1] 
    return filtered_df

result_df = filter_rooms_count_not_equal_to_one(df)
# result_df